<h1>Add an Article</h1>
<form action="#" method="post">
    <div class="form-group">
        <label for="ref_art">Référence:</label>
        <input type="text" maxlength="100" name="ref_art" placeholder="Référence">

        <label for="designation">Désignation:</label>
        <input maxlength="100" name="designation" placeholder="Désignation">

        <label for="codefamille">Genre:</label>
        <input maxlength="100" name="codefamille" placeholder="Code Famille">

        <button type="submit">Create</button>
    </div>
</form>